body * {
  font-family: Helvetica, 'Nokia Sans', Arial, Sans-serif;
}
.positive {
  color: #008000;
}
.negative {
  color: #f00;
}
#Dashboard .headlines .ui-listview {
  margin: 0px;
}
table th {
  text-align: center;
  padding: 3px;
}
table td .ui-btn {
  margin: 0;
}
table td:not(.symbol) {
  text-align: right;
}
table td {
  overflow: hidden;
  min-width: 50px;
  white-space: nowrap;
}
table td.label,
table td.left {
  text-align: left;
}
table td.value,
table td.right {
  text-align: right;
}
table.full-width {
  width: 100%;
}
table.draw-border {
  border-spacing: 0px;
}
table.draw-border td {
  padding: 10px 5px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
.ui-page-header-fixed {
  padding-top: 45px !important;
}
.nav-panel .ui-btn-icon-right:after {
  display: none;
}
.nav-panel.authed .login {
  display: none;
}
.nav-panel:not(.authed) .logout {
  display: none;
}
.headlines .ui-listview {
  margin: 1em -1em;
}
#ViewNews .ui-content,
#ViewStock .ui-content {
  padding: 0;
}
.headlines ul {
  padding: 0;
  margin: 0;
}
.headlines ul li {
  display: block;
  padding: 10px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
.headlines ul li a {
  color: #000 !important;
  font-style: normal;
  font-weight: normal;
  text-decoration: initial;
  font-size: 12px;
}
.headlines ul li .description {
  max-height: 3.8em;
  overflow-y: hidden;
}
.headlines ul li .title {
  font-size: 15px;
}
.headlines ul li .inline-quote .change {
  padding: 0 5px;
}
#Login {
  max-width: 260px;
}
[data-role="popup"] .container {
  text-align: center;
  padding: 10px 20px;
}
.scroll-container {
  display: block;
  overflow-x: hidden;
  overflow-y: visible;
  margin: 1em 0;
}
.fixed-column-container {
  display: block;
  overflow-x: hidden;
  margin-left: 4em;
  overflow-y: visible;
}
.fixed-column-container table td:not(.headcol) {
  padding: 10px 5px;
  min-width: 4em;
}
.fixed-column-container table td {
  padding: 10px 0px;
  text-align: left;
}
.fixed-column-container table td:not(.symbol) {
  text-align: right;
}
.fixed-column-container table .headcol {
  position: absolute;
  width: 4em;
  left: 0;
  top: auto;
  overflow: hidden;
  white-space: nowrap;
}
#ViewStock .quote-summary {
  padding: 1em 5px;
}
#ViewStock .quote-details {
  font-size: 12px;
}
#footer {
  white-space: nowrap;
}
#footer .ui-btn {
  width: 20%;
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  padding-bottom: 5px;
  padding-top: 2.5em;
  font-weight: normal;
  font-size: 12px;
}
#footer .ui-btn.ui-btn-icon-top:after {
  top: 0.2em;
}
.my_stocks {
  position: relative;
}
.my_portfolios {
  padding: 5px;
}
.my_portfolios .heading {
  font-size: x-large;
  padding: 0 0 15px 0;
}
.summary-list-container .summary-list-layout {
  position: relative;
  border-top: 1px solid #ddd;
  padding: 0 0 5px 0;
}
.summary-list-container .summary-list-layout .row {
  text-align: right;
  text-shadow: none;
  font-size: 14px;
}
.summary-list-container .summary-list-layout .row:first-child > span {
  padding-top: 1px;
  padding-bottom: 1px;
}
.summary-list-container .summary-list-layout .name {
  position: absolute;
  left: 0;
}
.summary-list-container .summary-list-layout .change-box {
  background-color: #008000;
  color: #fff;
}
.summary-list-container .summary-list-layout .change-box.negative {
  background-color: #f00;
}
.summary-list-container .summary-list-layout .small {
  font-size: 13px;
}
.summary-list-container .summary-list-layout .right-col {
  min-width: 65px;
  display: inline-block;
  padding-right: 10px;
}
.summary-list-container .summary-list-layout .mid-col,
.summary-list-container .summary-list-layout .right-col {
  text-align: right;
}
.summary-list-container .summary-list-layout .mid-col {
  min-width: 100px;
  padding-right: 10px;
  display: inline-block;
}
.summary-list-container .summary-list-layout .col-name {
  position: absolute;
  right: 0;
  top: -16px;
  font-size: x-small;
  min-width: 75px;
  text-align: center;
}
.summary-list-container:not(.show-alt) .alt2 {
  display: none;
}
.summary-list-container.show-alt .alt1 {
  display: none;
}
