body * {
	font-family: Helvetica, 'Nokia Sans', Arial, Sans-serif;
}
.positive {
	color: green;
}

.negative {
	color: red;
}

#Dashboard {
	.ui-content {
		padding: 0 0 30px 0;
	}
	.headlines .ui-listview {
		margin: 0px;
	}
}

table  {
	th {
		text-align: center;
		padding: 3px;
	}
	td .ui-btn {
		margin: 0;
	}

}
table {
	td:not(.symbol) {
		text-align: right;
	}

	td {
		overflow: hidden;
	}
}

table.full-width {
	width: 100%;
}

table.draw-border {
	border-spacing: 0px;
	td {
		padding: 10px 5px;
		border-bottom: 1px solid #DDD;
	}
}

.ui-page-header-fixed {
	padding-top: 45px !important;
}

.nav-panel {
	.ui-btn-icon-right:after {
		display: none;
	}

	&.authed .login {
		display: none;
	}
	&:not(.authed) .logout {
		display: none;
	}
}

#Login {
	max-width: 260px;
}
[data-role="popup"] .container {
	text-align: center;
	padding: 10px 20px;
}

.fixed-column-container {
	display: block;
	overflow-x: hidden;
	margin-left: 8em;
	overflow-y: visible;

	table {
		td:not(.headcol) {
			padding: 10px 5px;
			min-width: 5em;
		}
		td:not(.symbol) {
			text-align: right;
		}
		.headcol {
			position:absolute;
			width: 8em;
			left:0;
			top:auto;
			overflow: hidden;
			white-space: nowrap;
		}
	}
}

#Watchlist {

}

#ViewStock {

}

#ViewPort {

}